.gallery img{
    width: 100%;
}
h4{
    color: blue;
}
h2{
    color:blueviolet;
}
#menu{
    background-color: deepskyblue;
    height: 38px;
    padding-top: 18px;
    font-size: larger;
    
}
#menu a{
    color: blue;
    font-weight:800;
    font-size:larger;
    font-family: Helvetica, sans-serif
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
}
#menu a:hover{
    color:white;
    
}